.spare-decks-container {
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 10px;
    margin-left: 90px;
    * {
        position: relative;
        margin-left: -105px;
    }
}