.column-container {
  position: relative;
}
.secret {
  position: absolute;
  top: 180%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 60px;
  border-radius: 15px;
}

.highlight {
  box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.9);
  z-index: 9999;
  pointer-events: none;
}
