
.cardholder {
    margin-top: 10px;
    position: relative;
    width: 80px;
    height: 108px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid red;
    display: flex;
}
