

.card-open-container {
  width: 84px;
  height: 125px;
}
.card-open {
  cursor: pointer;
  position: relative;
  width: 82px;
  height: 125px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 5px -3px 15px 5px #000000; 
  box-shadow: 5px 1px 10px 2px #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;

  .card-value {
    font-size: 26px;
    font-weight: bold;
    &.top-corner{
      padding-left: 5px;
      align-self: flex-start;
    }
    &.bottom-corner {
      padding-left: 5px;
      align-self: flex-end;
      transform: rotate(180deg);
    }
  }
  .card-icon-container {
    justify-self: center;
    img {
      width: 45px;
      height: 49px;
    }
  }
}
.emphasized {
  border: 5px solid red;
  transform: scale(1.1);
  transition: .3s;
}
